<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">BoF Admin</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-xs-12">
                    <div id="accordion" class="panel panel-primary behclick-panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Filter Profiles</h3>
                        </div>
                        <div class="panel-body">
                            <div class="panel-heading ">
                                <h4 class="panel-title">Search</h4>
                            </div>
                            <form action="/profiles">
                                <div class="input-group">
                                    <input name="q" type="text" class="form-control" placeholder="Search by anything" aria-describedby="sizing-addon2" ng-model="$ctrl.filter.search" ng-change="$ctrl.setFilter()">
                                </div>
                            </form>
                            <div class="panel-heading ">
                                <h4 class="panel-title">Enabled</h4>
                            </div>
                            <div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="checkbox">
                                            <label>
                                                    <input type="checkbox" ng-model="$ctrl.filter.isEnabled" ng-click="$ctrl.setFilter()">
                                                    Yes
                                                </label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="checkbox">
                                            <label>
                                                    <input type="checkbox" ng-model="$ctrl.filter.isDisabled" ng-click="$ctrl.setFilter()">
                                                    No
                                                </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-heading ">
                                <h4 class="panel-title">Visible</h4>
                            </div>
                            <div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="checkbox">
                                            <label>
                                                    <input type="checkbox" ng-model="$ctrl.filter.isVisible" ng-click="$ctrl.setFilter()">
                                                    Yes
                                                </label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="checkbox">
                                            <label>
                                                    <input type="checkbox" ng-model="$ctrl.filter.isHidden" ng-click="$ctrl.setFilter()">
                                                    No
                                                </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <h4>Results:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th class="col-md-1"></th>
                                <th>Profile</th>
                                <th>Sub title</th>
                                <th>Country</th>
                                <th class="col-md-1">Enabled</th>
                                <th class="col-md-1">Visible</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-" ng-repeat="profile in $ctrl.profiles track by profile.id" ng-click="$ctrl.goToProfile(profile.id)">
                                <td><img ng-src="{{ 'https://images.businessoffashion.com/' + profile.thumbnail.file + '?crop=focalpoint&fit=crop&w=80&h=80' }}"></td>
                                <td>{{ profile.first_name + ' ' + profile.last_name }}</td>
                                <td>{{ profile.profile_sub_title }}</td>
                                <td>{{ profile.country_name }}</td>
                                <td class="text-center">
                                    <i ng-if="profile.is_enabled" class="glyphicon glyphicon-ok text-color-green"></i>
                                    <i ng-if="!profile.is_enabled" class="glyphicon glyphicon-remove text-color-red"></i>
                                </td>
                                <td class="text-center">
                                    <i ng-if="profile.is_visible" class="glyphicon glyphicon-ok text-color-green"></i>
                                    <i ng-if="!profile.is_visible" class="glyphicon glyphicon-remove text-color-red"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="pagination col-md-pull-5">
                        {{ pageNumber }}
                        <li ng-repeat="pageNumber in $ctrl.paginationNumbers" ng-class="{active : pageNumber === $ctrl.searchQuery._page}"><a href="" ng-click="$ctrl.goToPage(pageNumber)">{{pageNumber}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>